









html, body {
margin-top: 1rem;
margin-right:5rem;
margin-left: 5rem;
margin-bottom: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
text-align: center;
background-color: rgb(217,217,217);
}
#body {
height: 100%;
width: 100%;
}
.btn{
  background-color: rgb(217,217,217);
  border: 5px;
  border-color: black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Montserrat;
  border-radius: 8px;
  font-style: italic;
}

button {
  background-color: rgb(217,217,217);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Montserrat;
  border-radius: 8px;
}
h1, h2{
color: rgb(0,159,218);
font-family: Montserrat;
font-size: 300%;
margin: 0px;
}
h1{
  text-align: center;
}
h4, h6{
color: black;
font-size: 160%;
margin: 0px;
}
h3,ol{
  font-family: Montserrat;
  text-align: left;
}
p{
color: black;
font-family: Montserrat;
font-size: 100%;
}
body {
  font-family: Montserrat, sans-serif;

  margin: 0;
}
.importance{
text-align: left;
color: #05386B;
}
.survey{
color: #05386B;
text-align: center;
}
.tooltip{
color: rgb(0,159,218);
font-family: Montserrat;
}
select{
color: rgb(217,217,217);
background-color: white;
font-size: 75%;
font-family: Montserrat;
}
/* not sure if this works LOL*/
.wrapper {width: 640px;overflow: auto;}
ul li {list-style-type: none;}
.approaches {
  width: 300px;
  float: left;
  color: black;
  text-align: center;
}
.selections {
  width: 330px;
  float: right;
  color: black;
}
.sels{
  text-align: left;
  color: black;
}

.modal-header{
  text-align: center;
}



.column-left{
  color: black;
  width: 33.3%;
  text-align: left;
}
.column-middle{
  color: black;
  width: 33.3%;
  text-align: center;
}
.column-right{
  color: black;
  width: 33.3%;
  text-align: left;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
