html, body {
margin-top: 1rem;
margin-right:5rem;
margin-left: 5rem;
margin-bottom: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
text-align: center;
background-color: #5CDB95;
}
#body {
height: 100%;
width: 100%;
}
button {
  background-color: #05386B;
  border: none;
  color: #EDF5E1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Comfortaa;
  border-radius: 8px;
}
h1{
color: #05386B;
font-family: Comfortaa;
font-size: 300%;
margin: 0px;
}
h2{
color: #05386B;
font-size: 300%;
margin: 0px;
}
h4, h6{
color: #EDF5E1;
font-size: 160%;
margin: 0px;
}
p{
color: #EDF5E1;
font-family: Comfortaa;
font-size: 160%;
}
body {
  font-family: Comfortaa, sans-serif;
  background-color: #5CDB95;
  margin: 0;
}
.importance{
text-align: left;
color: #05386B;
}
.survey{
color: #05386B;
text-align: center;
}
.tooltip{
color: #EDF5E1;
font-family: Comfortaa;
}
select{
color: #05386B;
background-color: #EDF5E1;
font-size: 75%;
font-family: Comfortaa;
}
