html, body {
margin: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
text-align: center;
background-color: #5CDB95;
}
h1{
color: #05386B;
font-family: Comfortaa;
font-size: 300%;
}
h2{
color: #05386B;
font-size: 300%;
margin: 0px;
}
h4, h6{
color: #EDF5E1;
font-size: 160%;
margin: 0px;
}
p{
color: #EDF5E1;
font-family: Comfortaa;
font-size: 160%;
}
body {
  font-family: Comfortaa, sans-serif;
  background-color: #5CDB95;
  margin: 0;
}
.importance{
text-align: left;
color: #05386B;
}
.survey{
color: #05386B;
font-size: 160%;
text-align: center;
}
